
html,body {
  font-family: Verdana, Helvetica, sans;
  font-size: 14px;
  color: #031830;
  background-color: #F1F4F7;
}
a { color: #3E79AC; }
a:hover { text-decoration: underline; }

/* content position */
#outbox {
  left: 50%;
  width: 920px;
  margin: 30px 0 40px -460px;
}

/* colors */
#title { color: #3E79AC; }
h1.theme { color: #3E79AC; }
div.theme { border-color: #3E79AC; background-color: #F8FBFF; }
div.theme-headline { border-color: #3E79AC; }
div.theme-item { border-color: #3E79AC; }

/* geeky content */
div.geeky { text-align: right; }
.geeky-button {
  text-align: right;
  color: #3E79AC;
  cursor: pointer;
  font-size: 0.8em;
}
div.geeky-content {
  margin: 0 10px 0 220px;
  padding: 0 10px 0 0;
  border-right: 1px solid #3E79AC;
  font-size: 0.9em;
  text-align: left;
  width: 610px;
}
