 
html,body { margin: 0; padding: 0; }
a { color: #3E79AC; text-decoration : none; }

#outbox {
  border: 1px solid #D8DBDE;
  background-color: white;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header {
  margin-top: 10px;
  line-height: 1.4em;
}

#header-right {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

#title {
  margin: 60px 0 40px 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

h1.theme {
  margin: 20px 10px 0 10px;
  padding: 0;
  font-size: 1.3em;
}

div.theme {
  margin: 0 10px 10px 10px;
  padding: 10px 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;  
}

div.theme-headline {
  margin: 10px 10px 20px 10px;
  padding: 0 10px;
  border-left: 1px solid;
  text-align: justify;
}

div.theme-item {
  position: relative;
  clear: both;
  margin: 10px 0 0 0;
  padding: 10px 0 20px 0;
  border-top: 1px solid;
}

div.theme-item h2.meta {
  float: left;
  margin: 0; padding: 0;
  width: 180px;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4em;
}
div.theme-item h2.meta span.date {
  display: block;
  font-size: 0.8em;
}
div.theme-item h2.meta span.title {
  display: block;
  font-weight: bold;
}
div.theme-item h2.meta span.company {
  display: block;
  font-size: 0.8em;
  margin-bottom: 20px;
}

div.theme-item p.text {
  margin: 0 0 5px 200px; padding: 0;
  font-size: 1.1em;
}


