

body.eskatos {
  margin: 0; padding: 0;
  background-color: lightgrey;
}

#outline {
  position: absolute;
  left: 50%;
  top: 2.5em;
  width: 680px;
  margin-left: -340px;
}

#content {
  background-color: white;
  border: 1px solid black;
}

#topimage {
  width:    100%;
  height:   260px;

  overflow:hidden;
  background-image: url("godzilla.png");
}

#header {
  width:    100%;
  height:   2.5em;

  background-color: darkgreen;
  border-top: 0.4em solid green;
  border-bottom: 0.4em solid green;
  color: white;
}

#header img {
  float: left;
  margin: 0.3em 0.3em 0 0.6em;
}

#header h1 {
  margin: 0;
  padding-left: 1.2em;
  height: 2.5em;

  vertical-align: middle;
  line-height: 2.5em;
  font-size: 1em;
}

#header h1 span.name {
  color: lightgray;
  font-weight: normal;
}

#places {
  padding: 0.9em;
  font-size: 0.9em;
}

#places h4 {
  border-bottom: 1px solid green;
}

#places a {
  color: darkgreen;
}

#places div.about {
    min-height: 4em;
    color: black;
    font-size: 0.9em;
}
#places div.about div.col {
    width: 33%;
    float: left;
    text-align: center;
}
#places div.about div.col a {
    text-decoration: none;
}
.so-flair{
    width: 120px !important;
}

#footer {
  text-align: center;
  font-size: 0.8em;
  line-height: 2em;
  color: darkgray;
}
