body.eskatos {
  margin: 0; padding: 0;

  font-family: sans;
  background-color: lightgrey;
}

#outline {
  position: absolute;
  left: 50%;
  top: 42px;
  width: 680px;
  margin-left: -340px;
}

#content {
  background-color: white;
  border: 1px solid black;
}

#topimage {
  width:    100%
  height:   200px;

  overflow:hidden;
  background-image: url("godzilla.png");
}

#header {
  width:    100%;
  height:   42px;

  background-color: darkgreen;
  border-bottom: 8px solid green;
  color: white;
}

#header h1 {
  margin: 0;
  padding-left: 16px;
  height: 42px;

  vertical-align: middle;
  line-height: 42px;
  font-size: 16px;
}

#header h1 span.name {
  color: lightgray;
  font-weight: normal;
}

#places {
  padding: 10px;
  font-size: 12px;
}

#places h4 {
  border-bottom: 1px solid green;
}

#places a {
  color: darkgreen;
}

#footer {
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  color: darkgray;
}